<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ProyectoProgra4Entities" connectionString="metadata=res://*/ModeloCompras.csdl|res://*/ModeloCompras.ssdl|res://*/ModeloCompras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities1" connectionString="metadata=res://*/ModeloDepartamento.csdl|res://*/ModeloDepartamento.ssdl|res://*/ModeloDepartamento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities2" connectionString="metadata=res://*/ModeloMovimientos.csdl|res://*/ModeloMovimientos.ssdl|res://*/ModeloMovimientos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities3" connectionString="metadata=res://*/ModeloOrdenesCompra.csdl|res://*/ModeloOrdenesCompra.ssdl|res://*/ModeloOrdenesCompra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities4" connectionString="metadata=res://*/ModeloProductos.csdl|res://*/ModeloProductos.ssdl|res://*/ModeloProductos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities5" connectionString="metadata=res://*/ModeloProductosCompra.csdl|res://*/ModeloProductosCompra.ssdl|res://*/ModeloProductosCompra.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities6" connectionString="metadata=res://*/ModeloProveedores.csdl|res://*/ModeloProveedores.ssdl|res://*/ModeloProveedores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProyectoProgra4Entities7" connectionString="metadata=res://*/ModeloSolicitudes.csdl|res://*/ModeloSolicitudes.ssdl|res://*/ModeloSolicitudes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-R74K5D9H\SQLEXPRESS;initial catalog=ProyectoProgra4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>